<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ona.rdt_app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.RDTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/RDTAppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3f94f9c3caeff331b3a2bd8c2182b663ad6a955a" />

        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.PatientRegisterActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.RDTJsonFormActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.RDTExpirationDateActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.CustomRDTCaptureActivity"
            android:screenOrientation="portrait" />

        <service android:name="io.ona.rdt_app.sync.RDTSyncIntentService" />
        <service android:name="org.smartregister.service.ImageUploadSyncService" />
        <service android:name="org.smartregister.sync.intent.PullUniqueIdsIntentService" />
    </application>

</manifest>