<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.ona.rdt">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:replace="android:theme"
        android:name=".application.RDTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/RDTAppTheme">
        <activity android:name=".activity.PatientProfileActivity"></activity>

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity-alias
            android:name="io.ona.rdt.activity.Launcher"
            android:targetActivity=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activity.PatientRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RDTJsonFormActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.RDTExpirationDateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomRDTCaptureActivity"
            android:screenOrientation="portrait" />

        <service android:name=".sync.RDTSyncIntentService" />
        <service android:name="org.smartregister.service.ImageUploadSyncService" />
        <service android:name="org.smartregister.sync.intent.PullUniqueIdsIntentService" />
        <service android:name=".sync.RDTSettingsSyncIntentService" />
        <service android:name="org.smartregister.sync.intent.LocationIntentService" />
        <service android:name=".services.RDTSyncAllLocationsIntentService" />
    </application>

</manifest>